<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>
<%= render @event %>

<div>
  <% if current_user %>
    <%= form_with(url: event_register_path(@event), method: :post) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <%= f.submit 'Register for Event' %>
    <% end %>
    <% if current_user.admin? %>
      <%= link_to "Edit this event", edit_event_path(@event) %>
    <% end %>
  <% end %>
  <br>
  <%= link_to "Back to events", events_path %>
</div>
